[class*="col-"] {
    background-clip: padding-box;
    border-bottom: 20px solid transparent;
}

.posttime {
    border-left: 50px solid transparent;
    font-style: italic;
}

.menu-photo {
	width: 300px;
	height: 400px;
	display: block;
	margin: 5px;
}

.judge {
	margin: auto 3px;
}

.ingd {
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
}

.dishname {
    display:block;
    width:100%;
    height:30px;
}

.leftind {
    border-left: 150px solid transparent;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid Black;
  padding: 5px 15px;
}
